/* reset */
* {
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar { 
    width: 2px;
}

html::-webkit-scrollbar-thumb { 
    background-color: rgba(255, 0, 0, 0.774); border-radius: 4px;
}

html::-webkit-scrollbar-track { 
    background-color: black;
}

body {
    background: black;
    font-family: 'GmarketSansMedium';
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* slider style */
.main-content { overflow: hidden; }
.main-content .slick-slider { height: 100%; overflow: hidden; opacity: .4; }
.main-content .slick-list { height: 100%; }
.main-slider-item > img { position: relative; height: 100%; left: 50%; top: 10%; transform: translate(-50%, -10%); }

/* slider button */
.s {
    color: rgb(211, 211, 211);
}

/* 배우슬라이드 */
.actors-slider .slick-slide > div { position: relative; left: 2px }


/* 단위 스타일 */
/* 버튼 */
.btn { border: none; }

.login-form > div + div,
.signup-form > div + div {
    margin-top: 1rem;
}